* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgb(230, 125, 34, 0.5);
}
html {
    font-size: 62.5%;
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
body {
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;

}
.logo {
    height: 2.2rem;
}
.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

.grid-center-v {
    align-items: center;
}
.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}
.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}
.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
}

.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}
.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.heading-tertiary {
    font-size: 3rem;
    margin-bottom: 3.2rem;
    line-height: 1.2;
}
.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}
.btn,
.btn:link,
.btn:visited {
    text-decoration: none;

    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 0.9rem;
    display: inline-block;
    transition: all 0.3s;
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;
    /* for btn */
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.btn--form {
    color: #fdf2e9;
    background-color: #45260a;
    align-self: end;
    padding: 1.2rem;
}
.btn--form:hover {
    background-color: #fff;
    color: #555;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: white;
}
.btn-full:hover,
.btn-full:active {
    background-color: #cf711f;
}
.btn-outline:visited,
.btn-outline:link {
    background-color: white;
    color: #555;
}
.btn-outline:hover,
.btn-outline:active {
    background-color: #e67e22;
}

.hero-img-box {
}

.margin-rigth {
    margin-right: 1.6rem !important;
}
.delivered-meals {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}
.customer-photo {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}
.delivered-img img:last-child {
    margin: 0;
}
.delivered-img {
    display: flex;
}
.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}
.delivered-text span {
    color: #cf711f;
    font-weight: 700;
}
.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.list-icon {
    color: #e67e22;
    width: 3rem;
    height: 3rem;
    line-height: 1.4;
}
.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
